.player-lobby__player-summary {
    width: 160px;
    height: 160px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 6px solid rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------*/

.bg-icon {
    width: 52px;
    height: 52px;
    background-size: 52px 52px;
}

.bg-icon.size-32 {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}

.bg-icon.size-36 {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
}

.bg-icon.size-44 {
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
}

/*---------------------------------------------*/

.bg-icon.sword-slots {
    background-image: url("../../../../../Materials/images/icons/flat_sword.png");
}

.bg-icon.shield-slots {
    background-image: url("../../../../../Materials/images/icons/flat_shield.png");
}

.bg-icon.hpmp-slots {
    background-image: url("../../../../../Materials/images/icons/flat_status_hp_mp.png");
}

.bg-icon.accessory-slots {
    background-image: url("../../../../../Materials/images/icons/flat_accessory.png");
}

/*---------------------------------------------*/

.bg-icon.elemental-fire {
    background-image: url("../../../../../Materials/images/icons/flat_fire.png");
}

.bg-icon.elemental-water {
    background-image: url("../../../../../Materials/images/icons/flat_water.png");
}

.bg-icon.elemental-light {
    background-image: url("../../../../../Materials/images/icons/flat_light.png");
}

/*---------------------------------------------*/

.bg-icon.sword-equipment {
    background-image: url("../../../../../Materials/images/icons/flat_sword.png");
}

.bg-icon.staff-equipment {
    background-image: url("../../../../../Materials/images/icons/staff.png");
}

.bg-icon.staff-equipment-1 {
    background-image: url("../../../../../Materials/images/icons/flat_staff_1.png");
}

.bg-icon.staff-equipment-2 {
    background-image: url("../../../../../Materials/images/icons/flat_staff_2.png");
}

.bg-icon.shield-equipment-1 {
    background-image: url("../../../../../Materials/images/icons/flat_shield_1.png");
}

.bg-icon.shield-equipment-2 {
    background-image: url("../../../../../Materials/images/icons/flat_shield_2.png");
}

/*---------------------------------------------*/
.player-summary__item_num {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/*---------------------------------------------*/
.equipment-elemental-allocation {
    width: 36px;
    height: 8px;
    margin: 2px 0;
}

.equipment-elemental-allocation div {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/*----------------COMMON PANELS-----------------*/
.players-status-section {
    min-height: 120px;
    margin-top: 12px;
}

.players-panels-section {
    min-height: 240px;
    margin-top: 12px;
}

.in-game-player-panel {
    width: 440px;
    min-height: 120px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}