.player-lobby {
    width: 1440px;
    height: 840px;
}

.player-lobby__player-box-bg {
    width: 700px;
    height: 400px;
    position: absolute;
    border-radius: 24px;
    left: 20px;
    top: 0;
    transform: rotate(2deg);
}

.player-lobby__player-box-bg__player-num {
    position: absolute;
    right: -4px;
    bottom: -4px;
    border-radius: 60px 4px 24px 4px;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #242e30;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*----------*/
.player-lobby__player-preview {
}

.player-lobby__player-preview__box {
    width: 320px;
    height: 220px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}

/*----------*/
.player-lobby__player-control-panel {
    height: 160px;
}

.player-lobby__player-control-panel__box {
    width: 92px;
    height: 92px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 6px solid rgba(0, 0, 0, 0.1);
    margin: 0 8px 32px;
}

.player-lobby__player-control-panel__box.is-active {
    border: 6px solid #d4284a;    
}

/*----------*/
.player-lobby__player-join-instruction {
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px;
}