.in-game-player-panel.skills-panel {
}

.skills-panel__table {
    height: 476px;
}

.skills-panel__header-cell {
    width: 60px;
}

.skills-panel__cell {
    position: relative;
}

.skills-panel__cell__active-button-set-1 {
    position: absolute;
    top: 1px;
    left: 6px;
}

.skills-panel__cell__active-button-set-2 {
    position: absolute;
    top: 1px;
    right: 6px;
}

.skills-panel__help-panel {
    height: 100px;
}

.skills-panel__controls {
    height: 40px;
}

.control-button.set-1-bg {
    background-color: rgba(85, 166, 118, 1);
}

.control-button.set-2-bg {
    background-color: rgba(103, 85, 166, 1);
}
