.in-game-player-panel.allocation-panel {
    min-height: 440px;
    padding: 8px 0;
}

.allocation-panel__row {
    color: rgba(255, 255, 255, 0.8);
    height: 68px;
}

.allocation-panel__row__header,
.allocation-panel__row__points {
    width: 60px;
    background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------*/
.allocation-panel__row__cell-item {
    background-color: rgba(255, 255, 255, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 56px;
    height: 56px;
}

.allocation-panel__row__cell-item.is-placeholder {
    background-color: transparent;
    border-color: transparent;
}

.allocation-panel__row__cell-item.is-number {
    font-size: 28px;
    line-height: 56px;
    text-align: center;
}

.allocation-panel__row__cell-item .bg-icon {
    background-color: rgba(255, 255, 255, 0.05);
}
